.skills{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.skills .tools ul{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.skills .personal__skills ul{
    list-style: none;
    padding: 0;
   
}

.skills .personal__skills ul li{
    margin-bottom: 0.5rem;
    
}

.skills .tools #profile__hardSkills img{
    max-width: 50px;
    max-height: 50px;

}

.skills .personal__skills ul li::before{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/assets/img/icons/check.svg');

}



@media screen and (min-width:768px) {
    .skills{
       display: grid;
       grid-template-columns: 1fr 2fr;
       gap:10rem;
       margin-left: 3rem;
    }

}